body {
    height: 400vh;
}
.element{

    border: 3px solid black;
    border-radius:10px;
    width:800px;
    height:50px;
    position: sticky;
    top: 50px;
}
.first{

    width:38px;
    height:30px;
    background-color:yellow;
    position: relative;
    top:9px;
    left:32px;
}
.mid{
    background-color:yellow;
    position: relative;
    width:400px;
    height:32px;
    bottom:21px;
    left:190px;
}
.firstcyan{
    background-color: cyan;
    position: relative;
    width: 82px;
    height:25px;
    top: 7px;
    left: 25px;
}
.child{
    background-color: red;
    position: relative;
    width: 20px;
    height: 20px;
    left:62px;
}
.secondcyan{
    background-color: cyan;
    position: relative;
    width: 85px;
    height:19px;
    top: -12px;
    left: 180px;
}
.thirdcyan{
    background-color: cyan;
    position: relative;
    width: 33px;
    height:19px;
    top: -31px;
    left: 351px;
}
.last{
    background-color: yellow;
    position: relative;
    width: 53px;
    height:33px;
    top: -53px;
    left: 718px;
}
.baby{
border:2px solid yellowgreen;
width:23px;
height:22px;
position: relative;
top:3px;
left:15px   ;
}